<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Adoption d'Animaux</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Adoption d'Animaux</h1>
    <h2>Animaux disponibles</h2>
    <ul>
        {% for animal in animals %}
            <li>
                <a href="{{ url_for('animal', id=animal['id']) }}">
                    {{ animal['nom'] }} - {{ animal['espece'] }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('search') }}" method="get">
        <input type="text" name="query" placeholder="Rechercher un animal">
        <button type="submit">Rechercher</button>
    </form>
    
    <a href="{{ url_for('add_animal') }}">Ajouter un animal en adoption</a>
</body>
</html>
